<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles.css" />
  <script src="../app.js" async></script>
  <title>Verdeli</title>
</head>

<body>

  <header>
      <a href="../index.html"
        ><img class="logo-img" src="../img/logo.png" alt="Verdeli logo"
      /></a>
      <div class="menuToggle"></div>
      <nav>
        <ul>
          <li><a href="../productos.html">Todos los Productos</a></li>
          <li>
            <a href="frutas.html">Frutas <b>▼</b></a>
            <ul>
              <li><a href="frutas-citricas.html">Cítricas</a></li>
              <li><a href="frutas-tropicales.html">Tropicales</a></li>
              <li><a href="frutas-carozo.html">De carozo y semilla</a></li>
            </ul>
          </li>
          <li>
            <a href="verduras.html">Verduras <b>▼</b></a>
            <ul>
              <li><a href="verduras-hoja.html">De hoja</a></li>
              <li>
                <a href="verduras-frescas.html">Otras verduras frescas</a>
              </li>
              <li>
                <a href="verduras-tuberculos.html">Tubérculos y raíces</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="pulpas.html">Pulpas <b>▼</b></a>
            <ul>
              <li><a href="pulpas-citricas.html">Cítricas</a></li>
              <li><a href="pulpas-tropicales.html">Tropicales</a></li>
              <li><a href="pulpas-mixtas.html">Mixtas</a></li>
            </ul>
          </li>
          <li>
            <a href="zumos.html">Zumos <b>▼</b></a>
            <ul>
              <li><a href="zumos-simples.html">Simples</a></li>
              <li><a href="zumos-mezclas.html">Mezclas</a></li>
              <li><a href="zumos-funcionales.html">Funcionales</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

  <h1 class="section-title">Zumos funcionales</h1>
  <section class="contenedor">
    <div class="contenedor-items">

      <div class="item">
        <span class="titulo-item">Detox verde (espinaca + manzana + piña)</span>
        <img src="/verdeli-appm/img/jugo verde.png" alt="" class="img-item" />
        <span class="precio-item" data-kilo="7000" data-libra="3200">$7.000/Kg</span>
        <p class="descripcion-item">
          Ideal para desintoxicar y refrescar.
        </p>
        <p class="origen">Nacional</p>
        <button class="boton-item">Agregar al Carrito</button>
      </div>

      <div class="item">
        <span class="titulo-item">Energizante (maracuyá + jengibre) </span>
        <img src="/verdeli-appm/img/maracuya gengibre.png" alt="" class="img-item" />
        <span class="precio-item" data-kilo="7000" data-libra="3200">$7.000/Kg</span>
        <p class="descripcion-item">
          Aporta vitalidad y refuerza defensas.
        </p>
        <p class="origen">Nacional</p>
        <button class="boton-item">Agregar al Carrito</button>
      </div>

      <div class="item">
        <span class="titulo-item">Antioxidante (frutos rojos + naranja) </span>
        <img src="/verdeli-appm/img/antioxidante.png" alt="" class="img-item" />
        <span class="precio-item" data-kilo="7000" data-libra="3200">$7.000/Kg</span>
        <p class="descripcion-item">
          Rico en antioxidantes, cuida tu energía y piel.
        </p>
        <p class="origen">Nacional</p>
        <button class="boton-item">Agregar al Carrito</button>
      </div>

    </div>
    <!-- Carrito de Compras -->
    <div class="carrito" id="carrito">
      <div class="header-carrito">
        <h2>Tu Carrito</h2>
      </div>

      <div class="carrito-items">
        <!-- 
                <div class="carrito-item">
                    <img src="img/boxengasse.png" width="80px" alt="">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Box Engasse</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="1" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$15.000,00</span>
                    </div>
                   <span class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                   </span>
                </div>
                <div class="carrito-item">
                    <img src="img/skinglam.png" width="80px" alt="">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Skin Glam</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="3" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$18.000,00</span>
                    </div>
                   <button class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                   </button>
                </div>
                 -->
      </div>
      <div class="carrito-total">
        <div class="fila">
          <strong>Tu Total</strong>
          <span class="carrito-precio-total"> $120.000,00 </span>
        </div>
        <button class="btn-pagar">
          Pagar <i class="fa-solid fa-bag-shopping"></i>
        </button>
      </div>
    </div>
  </section>
</body>

</html>